/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* App Container */
.app-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo */
.app-logo {
  display: block;
  margin: 0 auto 20px;
}

/* Header */
.header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333; /* Dark gray text */
}

/* Logged-in User */
.logged-in-user {
  margin-bottom: 20px;
}

/* Form Styles */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 4px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

select {
  appearance: none;
}

/* Buttons */
.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 10px;
}

.btn-danger {
  background-color: #dc3545;
}

/* Application List */
.application-list {
  list-style: none;
  padding: 0;
}

.application-list li {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

/* Application Filter Buttons */
.application-filter-buttons {
  display: flex;
  flex-wrap: wrap;
}

.application-filter-buttons button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.application-filter-buttons button:last-child {
  margin-right: 0;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .app-container {
    padding: 10px;
  }

  input,
  select {
    width: calc(100% - 20px);
  }

  .application-filter-buttons button {
    margin-bottom: 10px;
  }
}

/* Logout Button */
.logout-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

/* Footer */
.footer {
  background-color: #f8f9fa;
  color: #333;
  padding: 20px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 8px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links a {
  color: #000;
  font-size: 24px;
  margin-right: 10px;
}

.social-links a:hover {
  color: #007bff;
}

.social-icon {
  color: #000;
  font-size: 24px;
  margin-right: 10px;
}

/* Copyright */
.copyright p {
  margin: 0;
  color: #666;
}
